<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <octocub_gps>
            <general>
                <enabled>1</enabled>
                <enable_user_agents>1</enable_user_agents>
                <enable_link_headers>1</enable_link_headers>
                <html_minify>1</html_minify>
                <inline_css_minify>1</inline_css_minify>
            </general>
            <lazyload>
                <default_strategy>native</default_strategy>
                <page_rules_json>[]</page_rules_json>
            </lazyload>
            <preload>
                <desktop_images></desktop_images>
                <mobile_images></mobile_images>
                <tablet_images></tablet_images>
                <font_preloads></font_preloads>
            </preload>
            <image>
                <auto_optimize_uploads>1</auto_optimize_uploads>
                <smart_optimize_viewed_pages>1</smart_optimize_viewed_pages>
                <quality_jpeg>82</quality_jpeg>
                <quality_webp>80</quality_webp>
                <quality_avif>45</quality_avif>
                <resize_algorithm>lanczos</resize_algorithm>
                <enable_webp>1</enable_webp>
                <enable_avif>1</enable_avif>
            </image>
            <core_toggles>
                <enable_js_bundling>0</enable_js_bundling>
                <minify_js>1</minify_js>
                <merge_js>1</merge_js>
                <minify_css>1</minify_css>
                <merge_css>1</merge_css>
            </core_toggles>
        </octocub_gps>
    </default>
</config>
